.utban{
   padding-right: 25px;
    list-style-type: none;
    display:flex;
    padding: 20px;
    margin: 15px;
    background-color: green;
    border-radius: 15px;
    justify-content: space-between;
    text-shadow: 4px 4px 8px goldenrod;
color: white;
font-style: italic; font-size: 25px;
}
.home{
    color: white;
    text-decoration: none;
    
}
.Car{
    color: blanchedalmond;
    background-color: black;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    font-size: 50px;
}
.used{
    color: white;
    text-decoration: none;
}
.new{
    color: white;
    text-decoration: none;
}
.bike{
    color: white;
    text-decoration: none;
}
nav{
    position: relative;
    background: linear-gradient(45deg, #4f1919, #ff3333);
}
.home:hover, .new:hover, .used:hover, .bike:hover, .Contact:hover{
    background-color: rgb(176, 203, 125);
    padding: 8px;
border-radius: 5px;
transition-duration: 0.5s;
}

.pragragh{
    color: rgb(75, 6, 250); stroke: black;
    font-size: 30px;
    text-shadow: 2px 2px 5px blue;

}
.heading{
    font-size: 40px;
    color: rgb(102, 110, 60);
    text-align: center;
    text-decoration-line: overline underline;
    text-decoration-color: rgb(219, 210, 163) ;
    text-decoration-style: double ;
    text-decoration-thickness: 5px;
    text-transform: uppercase;
text-shadow: 4px 4px 8px red;
line-height: 100px;
}
.qoute{
    font-size: 30px;
    color: blue;
    text-align: center;
    text-transform: none;
    text-shadow: 2px 2px 5px blue;
}
.Contact{
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    line-height: 120px;
}
.center{
    text-align: center;
}
.logo{
   padding-left: 40px;
    font-size: 40px;
    background-color: rgba(255, 0, 0, 0.336);
    padding: 10px;
    border-radius: 5px;
    text-shadow: 5px 5px 10px greenyellow;    
}
.Introduction{
color: green;
text-align: center;
text-decoration-line: overline underline;
text-decoration-style: double;
text-decoration-color: gold;
font-size: 45px;
text-shadow: 2px 2px 5px greenyellow;
line-height: 120px;
}
.purposees{
    color: blue;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 5px blueviolet;
}
.sports{
    color: green;
    text-align: center;
    font-size: 45px;
    text-decoration-line: overline underline;
    text-decoration-style: double;
    text-shadow: 2px 2px 5px greenyellow;
    text-decoration-color: rgb(8, 110, 74);
    line-height: 100px;
}
.Features{
    font-size: 40px;
    color: green;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-shadow: 2px 2px 5px greenyellow;
}
.qualities{
    color: blue;
    font-size: 20px;
    text-shadow: 2px 2px 5px rgb(50, 35, 217);
}
.tables{
    text-align: center;
    color: rgb(217, 13, 217);
    font-size: 35px;
    margin: 200px;
    text-decoration-thickness: 4px;
border-collapse: collapse;
    text-shadow: 2px 2px 5px blueviolet;
}
.check{
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px yellowgreen;
    word-spacing: 6px;
    
}
.newest{
font-size: 30px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
text-shadow: 2px 2px 5px yellowgreen;
word-spacing: 6px;
}
.image{
    list-style-type: none;
    position: absolute;
    font-size: 30px;
    color: rgb(64, 43, 183);
    text-shadow: 2px 2px 5px yellowgreen;
    line-height: 50px;
    text-decoration: none;
}
.abdullah{
    list-style-type: none;
    font-size: 30px;
    position: absolute;
    color: rgb(64, 43, 183);
    text-shadow: 2px 2px 5px yellowgreen;
    line-height: 50px;
}


.text{
    text-align: center;
    font-size: 45px;
    color: blue;
    text-decoration-line: underline overline;
    text-decoration-style: double;
    text-decoration-color: goldenrod;
}
.sale{
    text-align: center;
    font-size: 45px;
    color: blue;
    text-decoration-line: underline overline;
    text-decoration-style: double;
    text-decoration-color: goldenrod;
}
.auto{
    display: flex;
color: black;
padding-right: 20px;
}
.moon{
    display: flex;
color: black;
}
.star{
    display: flex;
color: black;
 }
.esha{
    display: flex;
    color: black;
}
.civic{
    display: flex;
color: black;
   }
.turbo{
        display: flex;
color: black;
    }